*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Montserrat", serif;

}

header{
    margin: 44px 0 144px 76px;
}

.link-header {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
    margin-right: 23px;

    text-decoration: none;
}

.button-header{
    background-color: #665AE1;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;

    padding: 6px 22px;
    border-radius: 20px;
    border: none;
}

.img-logo {
    height: 500px;
    width: 568px;
}